* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", monospace;
    text-align: center;
    text-shadow: 2px 2px 2px lightgrey;
    color: #222;
    margin: 20px;
}

h1, h2 {
    padding: 20px;
}

p {
    padding: 10px 20px;
}

header {
    background-color: #2e282a;
    color: white;
    text-shadow: none;
    padding: 10px;
    box-shadow: 10px 10px 16px -4px black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin-top: 60px;
}

img {
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 16px -4px black;
}

.card p {
    text-shadow: 2px 2px 2px lightgrey;
}