* {
    margin: 0;
    padding: 0;
}

body {
    font-family: MarkPro-Bold, sans-serif-bold, sans-serif;
    text-align: center;
    color: white;
}

h1, h2 {
    padding: 20px;
}

p {
    padding: 10px 20px;
}

header, footer {
    background-color: #2e282a;
    text-shadow: none;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 340px;
    margin: 60px 0;
    padding: 20px 0;
    box-shadow: 10px 10px 16px -4px black;
}

.card img {
    width: 300px;
    height: 300px;
}

.blue {
    width: 340px;
    margin: 60px 0;
    padding: 20px 0;
    background-color: #17bebb;
}

.red {
    width: 340px;
    margin: 60px 0;
    padding: 20px 0;
    background-color: #e4572e;
}

.green {
    width: 340px;
    margin: 60px 0;
    padding: 20px 0;
    background-color: #76b041;
}